<div class="card-brand-detail">
  <div class="card-brand-detail_header mb-36">
    <span
      nz-icon
      nzType="left"
      (click)="onBackRoute()"
      nzTheme="outline"
      ngClass="card-brand-detail_header-icon"
    ></span>
    <label ngClass="card-brand-detail_header-title">
      Brand Details
    </label>
  </div>
  <form
    nz-form
    nzLayout="vertical"
    (ngSubmit)="submitForm()"
    [formGroup]="formDetail"
  >
    <div nz-col nzXl="8" nzLg="32">
      <label class="title-form-card-brand">Brand Logo</label>
    </div>

    <div nz-col nzXl="8" nzLg="32" class="mt-36">
      <nz-form-item>
        <nz-form-control
          [nzSpan]="24"
          [nzErrorTip]="'Please input your username!'"
        >
          <span class="upload-avatar-card-brand">
            <nz-upload
              nzName="avatar"
              nzListType="picture-card"
              [nzShowUploadList]="false"
              (nzChange)="handleChangeFile($event)"
              nzAction="false"
              ngClass="avatar-uploader"
              [nzDisabled]="!isUpdate ? true : false"
            >
              <ng-container *ngIf="!avatarUrl">
                <span
                  class="upload-icon"
                  nz-icon
                  [nzType]="loadingUploadFile ? 'loading' : 'plus'"
                ></span>
                <div class="ant-upload-text">Upload</div>
              </ng-container>
              <img
                *ngIf="avatarUrl"
                [src]="avatarUrl"
                style="width: 100%"
                ngClass="card-brand-detail_img"
              />

              <ng-container *ngIf="avatarUrl && isUpdate">
                <ng-container *ngTemplateOutlet="changeLogo"></ng-container>
              </ng-container>
              <ng-template #changeLogo>
                <p
                  ngClass="card-brand-detail_action-change-logo"
                  nzType="upload"
                >
                  CHANGE LOGO
                </p>
              </ng-template>
            </nz-upload>
          </span>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXl="8" nzLg="32">
      <label class="title-form-card-brand">Brand Details</label>
    </div>

    <div nz-col nzXl="8" nzLg="32" class="detail-card-brand-info">
      <div nz-col nzXl="8" nzLg="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="32">Brand Name</nz-form-label>
          <nz-form-control
            [nzSpan]="32"
            nzErrorTip="Please input your branch name!"
          >
            <ng-container *ngIf="isUpdate; else formView">
              <ng-container *ngTemplateOutlet="formUpdate"></ng-container>
            </ng-container>
          </nz-form-control>
        </nz-form-item>

        <ng-template #formView>
          <span class="form-view">
            {{ formDetail.value.brand_name }}
          </span>
        </ng-template>

        <ng-template #formUpdate>
          <input
            nz-input
            formControlName="brand_name"
            id="brand_name"
            placeholder="Input Content"
          />
        </ng-template>
      </div>

      <div nz-col nzXl="8" nzLg="12" class="detail-card-brand-info_status">
        <nz-form-item>
          <nz-form-label [nzSpan]="32">Brand Status</nz-form-label>
          <nz-form-control
            [nzSpan]="32"
            nzErrorTip="Please select your status!"
          >
            <a
              class="select-status-detail"
              nz-dropdown
              nzTrigger="click"
              [nzDropdownMenu]="statusMenu2"
              [nzPlacement]="'topLeft'"
              [nzDisabled]="!isUpdate ? true : false"
            >
              <div class="select-status-item {{ selectStatus.label.toLocaleLowerCase() }}">
                <div class="outside-circle">
                  <span class="inside-circle"></span>
                </div>
                <span>{{ selectStatus.label }}</span>
                <i nz-icon nzType="down"></i>
              </div>
            </a>
            <nz-dropdown-menu #statusMenu2="nzDropdownMenu">
              <ul nz-menu nzSelectable class="status-dropdown-menu">
                <li
                  *ngFor="let option of optionBrandStatus"
                  nz-menu-item
                  (click)="onChangeStatus(option)"
                  [nzDisabled]="!isUpdate ? true : false"
                  class=""
                >
                  <div class="select-status-item {{ option.label.toLocaleLowerCase }}">
                    <div class="outside-circle">
                      <span class="inside-circle"></span>
                    </div>
                    <span>{{ option.label }}</span>
                  </div>
                </li>
              </ul>
            </nz-dropdown-menu>
            <input name="status" hidden value="selectedStatus.label" [disabled]="!isUpdate ? true : false" />

            <!-- <nz-select
              class="form-select-status"
              id="brand_status"
              formControlName="brand_status"
              nzPlaceHolder="Select a option and change input text above"
              [nzDisabled]="!isUpdate ? true : false"
            >
              <nz-option
                *ngFor="let option of optionBrandStatus"
                [nzValue]="option"
                [nzLabel]="option.label"
              ></nz-option>
            </nz-select> -->
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-col nzXl="12" nzLg="32">
      <nz-form-item>
        <nz-form-label [nzSpan]="32">Brand Description</nz-form-label>
        <nz-form-control [nzSpan]="32" nzErrorTip="Please input your username!">
          <ng-container *ngIf="isUpdate; else formViewDescription">
            <ng-container
              *ngTemplateOutlet="formUpdateDescription"
            ></ng-container>
          </ng-container>
        </nz-form-control>
      </nz-form-item>

      <ng-template #formViewDescription>
        <span class="form-view">
          {{ formDetail.value.brand_description }}
        </span>
      </ng-template>

      <ng-template #formUpdateDescription>
        <textarea
          rows="4"
          formControlName="brand_description"
          nz-input
          id="brand_description"
          placeholder="input placeholder"
        ></textarea>
      </ng-template>
    </div>

    <div nz-col nzXl="12" nzLg="24">
      <ng-container
        class="table-body-status_name"
        *ngIf="isUpdate; else buttonUpdate"
      >
        <ng-container *ngTemplateOutlet="buttonSave"></ng-container>
      </ng-container>

      <ng-template #buttonUpdate>
        <button nz-button nzType="primary" (click)="setIsUpdate()">
          Edit Information
        </button>
      </ng-template>

      <ng-template #buttonSave>
        <button nz-button type="submit" nzType="primary">Save Changes</button>
      </ng-template>
    </div>
  </form>
</div>
