<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitleCustom"
  [nzContent]="modalContentCustom"
  [nzFooter]="modalFooterCustom"
  (nzOnOk)="submitForm()"
  (nzOnCancel)="handleCancel()"
  [nzClosable]="false"
>
  <ng-template #modalTitleCustom>
    <div class="header-modal">
      <div class="modal-create-card-brand-header">
        <p class="modal-create-card-brand-header_title">Add Car Brand</p>
        <p class="modal-create-card-brand-header_description">
          Setup new car brand
        </p>
      </div>
      <span class="action-icon-close" (click)="handleCancel()">
        <span
          nz-icon
          nzType="close"
          nzTheme="outline"
          class="icon-modal-close"
        ></span>
      </span>
    </div>
  </ng-template>

  <ng-template #modalContentCustom>
    <form
      nz-form
      nzLayout="vertical"
      (ngSubmit)="submitForm()"
      [formGroup]="validateForm"
    >
      <div nz-row [nzGutter]="[8, 0]">
        <div nz-col nzSpan="24">
          <h2 class="title-form-modal-card-brand">Brand Logo</h2>
        </div>

        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSpan]="24">Brand Logo</nz-form-label>
            <nz-form-control
              [nzSpan]="24"
              [nzErrorTip]="'Please input your username!'"
            >
              <nz-upload
                class="avatar-uploader"
                nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                nzName="avatar"
                nzListType="picture-card"
                [nzShowUploadList]="false"
                (nzChange)="handleChangeFile($event)"
              >
                <ng-container *ngIf="!avatarUrl">
                  <span
                    class="upload-icon"
                    nz-icon
                    [nzType]="loadingUploadFile ? 'loading' : 'plus'"
                  ></span>
                  <div class="ant-upload-text">Upload</div>
                </ng-container>
                <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="24">
          <h2 class="title-form-modal-card-brand">Brand Details</h2>
        </div>

        <div nz-col nzSpan="10">
          <nz-form-item >
            <nz-form-label [nzSpan]="24">Brand Name</nz-form-label>
            <nz-form-control
              [nzSpan]="24"
              nzErrorTip="Please input your branch name!"
            >
              <input
                nz-input
                formControlName="brand_name"
                id="brand_name"
                placeholder="Input Content"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="14" class="detail-card-brand-info_status">
          <nz-form-item class="item-form-status">
            <nz-form-label [nzSpan]="24">Brand Status</nz-form-label>
            <nz-form-control
              [nzSpan]="24"
              nzErrorTip="Please select your status!"
            >
              <a
                class="select-status-detail"
                nz-dropdown
                nzTrigger="click"
                [nzDropdownMenu]="statusMenu2"
                [nzPlacement]="'topLeft'"
              >
                <div
                  class="select-status-item {{
                    selectStatus.label.toLocaleLowerCase()
                  }}"
                >
                  <div class="outside-circle">
                    <span class="inside-circle"></span>
                  </div>
                  <span>{{ selectStatus.label }}</span>
                  <i nz-icon nzType="down"></i>
                </div>
              </a>
              <nz-dropdown-menu #statusMenu2="nzDropdownMenu">
                <ul nz-menu nzSelectable class="status-dropdown-menu">
                  <li
                    *ngFor="let option of optionBrandStatus"
                    nz-menu-item
                    (click)="onChangeStatus(option)"
                    class=""
                  >
                    <div
                      class="select-status-item {{
                        option.label.toLocaleLowerCase
                      }}"
                    >
                      <div class="outside-circle">
                        <span class="inside-circle"></span>
                      </div>
                      <span>{{ option.label }}</span>
                    </div>
                  </li>
                </ul>
              </nz-dropdown-menu>
              <input name="status" hidden value="selectedStatus.label" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSpan]="8">Brand Description</nz-form-label>
            <nz-form-control
              [nzSpan]="24"
              nzErrorTip="Please input your username!"
            >
              <textarea
                rows="4"
                formControlName="brand_description"
                nz-input
                id="brand_description"
                placeholder="Input Content"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooterCustom>
    <button nz-button nzType="default" class="bth-cancel-modal" (click)="handleCancel()">Cancel</button>
    <button
      nz-button
      class="btn-submit-modal"
      (click)="submitForm()"
      nzType="default"
      [nzLoading]="isConfirmLoading"
    >
      Create Brand
    </button>
  </ng-template>
</nz-modal>
