<div class="card-brand-header">
  <div class="card-brand-header_left">
    <label class="card-brand-header_left-title">CAR BRANDS LIST</label>
    <a
      class="car-brand-filter-type"
      nz-dropdown
      nzTrigger="click"
      [nzDropdownMenu]="menu"
    >
      <i nz-icon nzType="down"></i>
      <span> {{ selectFilterCardBrandStatus.label }} </span>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable class="car-brand-dropdown-filter-type-menu">
        <li
          *ngFor="let item of filterStatusSelect"
          (click)="changeFilterStatus(item)"
          nz-menu-item
          class="menu-filter-item"
        >
          {{ item.label }}
        </li>
      </ul>
    </nz-dropdown-menu>

    <nz-input-group
      [nzPrefix]="suffixIconSearch"
      class="card-brand-header_left-search-filter"
    >
      <input
        type="text"
        nz-input
        placeholder="Search car brand"
        (change)="onChangeSearch($event)"
      />
    </nz-input-group>

    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>

  <div class="card-brand-header_right">
    <button
      nz-button
      nzType="primary"
      class="card-brand-header_right-button"
      (click)="setIsModalCreateBrand()"
    >
      <span nz-icon nzType="plus" nzTheme="outline" class="card-brand-header_right-button-icon"></span>
      <span class="card-brand-header_right-button-name">Add Brand</span>
    </button>
  </div>
</div>



<!-- [nzPageSize]="filterTable.limit ? +filterTable.limit : 10"
[nzPageIndex]="filterTable.page ? +filterTable.page : 1"
(nzPageSizeChange)="changePageSize($event)"
    (nzPageIndexChange)="changePageIndex($event)" -->
<div class="card-brand-table">
  <nz-table
    #cardBrandTable
    nzShowSizeChanger
    [nzData]="dataTable"
    [nzBordered]="false"
    [nzLoading]="isLoadingTable"
    [nzScroll]="{ x: '150' }"
    [nzFrontPagination]="false" 
    [nzShowPagination]="false"    
  >
    <tbody>
      <ng-container *ngFor="let item of cardBrandTable.data">
        <tr>
          <td
            [width]="'12%'"
            [nzChecked]="setOfCheckedId.has(item.id)"
            (nzCheckedChange)="onItemChecked(item.id, $event)"
            class="checked-table"
          ></td>
          <td [width]="'40'" [align]="'center'" class="td-logo">
            <ng-container *ngIf="item.logo === ''; else existLogo">
              <ng-container *ngTemplateOutlet="notLogo"></ng-container>
            </ng-container>

            <ng-template #notLogo>
              <nz-avatar nzIcon="user" [class]="'logo-table'"></nz-avatar>
            </ng-template>

            <ng-template #existLogo>
              <nz-avatar
                [class]="'logo-table'"
                [nzSrc]="linkRootPath + item.logo"
              ></nz-avatar>
            </ng-template>
          </td>

          <td [width]="'210'" ngClass="td-info">
            <div
              class="table-body-info-card"
              [ngClass]="
                item.status === 1
                  ? 'table-body-info-card-bd-active '
                  : 'table-body-info-card-bd-inactive'
              "
            >
              <p class="table-body-info-card_name">{{ item.name }}</p>

              <p class="table-body-info-card_note">
                <ng-container
                  class="table-body-status_name"
                  *ngIf="
                    item.description !== null && item.description.length > 0;
                    else notExistDescription
                  "
                >
                  <ng-container
                    *ngTemplateOutlet="existDescription"
                  ></ng-container>
                </ng-container>

                <ng-template #notExistDescription>
                  <span
                    class="table-body-info-card_model-number not-exist-description"
                  >
                    {{ item.number_model }} Models
                  </span>
                </ng-template>

                <ng-template #existDescription>
                  <span
                    class="table-body-info-card_description table-body-eclipse"
                  >
                    {{ item.description }}
                  </span>
                  <span
                    class="table-body-info-card_model-number exist-description"
                  >
                    {{ item.number_model }} Models
                  </span>
                </ng-template>
              </p>
            </div>
          </td>
          <td [width]="'80'">
            <div class="table-body-time">
              <p class="table-body-time_title">Last Update</p>
              <p class="table-body-time_date">
                {{ transformDate(item.last_update) }}
              </p>
            </div>
          </td>
          <td [width]="'100'">
            <span class="table-body-status">
              <span
                class="table-body-status_icon"
                [ngClass]="
                  item.status === 1
                    ? 'table-body-status_icon-active'
                    : 'table-body-status_icon-inactive'
                "
              ></span>

              <ng-container
                class="table-body-status_name"
                *ngIf="item.status === 1; else statusCardBrandInactive"
              >
                <ng-container
                  *ngTemplateOutlet="statusCardBrandACtive"
                ></ng-container>
              </ng-container>

              <ng-template #statusCardBrandACtive>
                <span class="table-body-status_name-active">Active</span>
              </ng-template>

              <ng-template #statusCardBrandInactive>
                <span class="table-body-status_name-inactive">Inactive</span>
              </ng-template>
            </span>
          </td>

          <td [width]="'100'" [align]="'center'">
            <button
              class="table-body-action-view"
              nz-button
              nzType="default"
              (click)="onDetail(item.id)"
            >
              <span class="button-table-name">View Details</span>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>

<app-modal-cu-card-brand
  [isVisible]="isModalCreateBrand"
  (closeModal)="setIsModalCreateBrand($event)"
></app-modal-cu-card-brand>
