<div class="card-brand-header">
  <div class="card-brand-header_left">
    <h1 nz-typography class="card-brand-header_left-title">CAR BRANDS LIST</h1>
    <nz-select
      [(ngModel)]="selectFilterCardBrandStatus"
      class="card-brand-header_left-select-filter"
      (ngModelChange)="changeFilterStatus($event)"
    >
      <nz-option
        *ngFor="let option of filterStatusSelect"
        [nzValue]="option"
        [nzLabel]="option.label"
      ></nz-option>
    </nz-select>

    <nz-input-group
      [nzPrefix]="suffixIconSearch"
      class="card-brand-header_left-search-filter"
    >
      <input type="text" nz-input placeholder="input search text" (change)="onChangeSearch($event)"/>
    </nz-input-group>

    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>

  <div class="card-brand-header_right">
    <button
      nz-button
      nzType="primary"
      class="card-brand-header_right-button"
      (click)="setIsModalCreateBrand()"
    >
      <span nz-icon nzType="plus" nzTheme="outline"></span>
      Add Brand
    </button>
  </div>
</div>

<div class="card-brand-table">
  <nz-table
    #cardBrandTable
    nzShowSizeChanger
    [nzData]="dataTable"
    [nzBordered]="false"
    [nzLoading]="false"
    [nzPageSize]="filterTable.limit ? +filterTable.limit : 10"
    [nzPageIndex]="filterTable.page ? +filterTable.page : 1"
    [nzScroll]="{ x: '150' }"
    (nzPageSizeChange)="changePageSize($event)"
    (nzPageIndexChange)="changePageIndex($event)"
  >
    <tbody>
      <ng-container *ngFor="let item of cardBrandTable.data">
        <tr>
          <td
            [width]="'20'"
            [nzChecked]="setOfCheckedId.has(item.id)"
            (nzCheckedChange)="onItemChecked(item.id, $event)"
          ></td>
          <td [width]="'80'" [align]="'center'" class="td-logo">
            <ng-container
              *ngIf="item.logo === ''; else existLogo"
            >
              <ng-container
                *ngTemplateOutlet="notLogo"
              ></ng-container>
            </ng-container>

            <ng-template #notLogo>
              <nz-avatar nzIcon="user" [nzSize]="55"></nz-avatar>
            </ng-template>

            <ng-template #existLogo>
              <nz-avatar [nzSrc]="linkRootPath + item.logo" [nzSize]="55"></nz-avatar>
            </ng-template>
          </td>

          <td [width]="'150'" ngClass="td-info">
            <div 
              class="table-body-info-card " 
              [ngClass]="item.status === 1
                ? 'table-body-info-card-bd-active '
                : 'table-body-info-card-bd-inactive'"
              >
              <p class="table-body-info-card_name">{{ item.name }}</p>
              
              <p class="table-body-info-card_note">
                <ng-container
                  class="table-body-status_name"
                  *ngIf="item.description !== null && item.description.length > 0; else notExistDescription"
                >

                  <ng-container
                    *ngTemplateOutlet="existDescription"
                  ></ng-container>

                </ng-container>

                <ng-template #notExistDescription>
                  <span class="table-body-info-card_model-number not-exist-description">
                    {{ item.number_model }} Models
                  </span>
                </ng-template>
  
                <ng-template #existDescription>
                  <span
                    class="table-body-info-card_description table-body-eclipse "
                  >
                    {{ item.description }}
                  </span>
                  <span class="table-body-info-card_model-number exist-description">
                    {{ item.number_model }} Models
                  </span>
                </ng-template>
              </p>
            </div>
          </td>
          <td [width]="'80'">
            <div class="table-body-time">
              <p class="table-body-time_title">Last Update</p>
              <p class="table-body-time_date">{{ transformDate(item.last_update) }}</p>
            </div>
          </td>
          <td [width]="'100'">
            <span class="table-body-status">
              <span
                class="table-body-status_icon"
                [ngClass]="
                  item.status === 1
                    ? 'table-body-status_icon-active'
                    : 'table-body-status_icon-inactive'
                "
              ></span>

              <ng-container
                class="table-body-status_name"
                *ngIf="item.status === 1; else statusCardBrandInactive"
              >
                <ng-container
                  *ngTemplateOutlet="statusCardBrandACtive"
                ></ng-container>
              </ng-container>

              <ng-template #statusCardBrandACtive>
                <span class="table-body-status_name-active">Active</span>
              </ng-template>

              <ng-template #statusCardBrandInactive>
                <span class="table-body-status_name-inactive">Inactive</span>
              </ng-template>
            </span>
          </td>

          <td [width]="'100'">
            <button class="table-body-action-view" nz-button nzType="default" (click)="onDetail(item.id)">
              View Details
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>

<app-modal-cu-card-brand
  [isVisible]="isModalCreateBrand"
  (closeModal)="setIsModalCreateBrand($event)"
></app-modal-cu-card-brand>
